{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/charts.css' %}">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script>

   var backgroundColors = [
	'rgba(255, 99, 132, 1)',
	'rgba(54, 162, 235, 1)',
	'rgba(255, 206, 86, 1)',
	'rgba(75, 192, 192, 1)',
	'rgba(153, 102, 255, 1)',
	'rgba(255, 159, 64, 1)',
	'rgba(54, 162, 235, 1)',
	'rgba(255, 206, 86, 1)',
	'rgba(75, 192, 192, 1)',
	'rgba(153, 102, 255, 1)',
	'rgba(255, 159, 64, 1)'];
</script>
  <span id="employers-flag" style="display: none;" ></span>  
<div class="results-container">
  <h1>RAPORTY</h1>

 <br>
 
<div class="raports-container">

 <div class="small-chart">
<canvas id="small-chart2"></canvas>
{% autoescape off %}
        <script type="text/javascript">
            $.get('{% url url_json1 %}', function(data) {
			{% if chart_type %}
			var chart_type = '{{chart_type2}}';
			{% endif%}
                var ctx = $("#small-chart2").get(0).getContext("2d");
                
				data.datasets[0]['backgroundColor'] = backgroundColors;
				
                new Chart(ctx, {
                    type: chart_type , data: data,
					options: {
						legend: {
							display: false,
							position: 'bottom',
							labels: {
								fontSize: 15,
								fontFamily: 'Roboto',
							}
						},
						title: {
							display: true,
							text: {{charttitle1}},
							fontSize: 19,
							fontFamily: 'Roboto',
							fontStyle: 'normal',
						}
					}
                });
            });
			
						
</script>
</div>

 <div class="small-chart">
<canvas  id="small-chart3"></canvas>


        <script type="text/javascript">
            $.get('{% url url_json2 %}', function(data) {
			{% if chart_type %}
			var chart_type = '{{chart_type2}}';
			{% endif%}
                var ctx = $("#small-chart3").get(0).getContext("2d");				
				data.datasets[0]['backgroundColor'] = backgroundColors;
                new Chart(ctx, {
                    type: chart_type , data: data,
					options: {
						legend: {
							display: false,
							position: 'bottom',
							labels: {
								fontSize: 15,
								fontFamily: 'Roboto',
							}
						},
						title: {
							display: true,
							text: {{charttitle2}},
							fontSize: 19,
							fontFamily: 'Roboto',
							fontStyle: 'normal',
						}
					}
                });
            });
</script>
</div>

 <div class="small-chart">
<canvas  id="small-chart4"></canvas>


        <script type="text/javascript">
            $.get('{% url url_json3 %}', function(data) {
			{% if chart_type %}
			var chart_type = '{{chart_type2}}';
			{% endif%}
                var ctx = $("#small-chart4").get(0).getContext("2d");				
				data.datasets[0]['backgroundColor'] = backgroundColors;
                new Chart(ctx, {
                    type: chart_type , data: data,
					options: {
						legend: {
							display: false,
							position: 'bottom',
							labels: {
								fontSize: 15,
								fontFamily: 'Roboto',
								float: 'left',
							}
						},
						title: {
							display: true,
							text: {{charttitle3}},
							fontSize: 19,
							fontFamily: 'Roboto',
							fontStyle: 'normal',
						}
					}
                });
            });
</script>
</div>




 <div class="big-chart">
<canvas id="big-chart"></canvas>


        <script type="text/javascript">
            $.get('{% url url_json %}', function(data) {
			{% if chart_type %}
			var chart_type = '{{chart_type}}';
			{% endif%}
                var ctx = $("#big-chart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: chart_type , data: data,
					options: {
						legend: {
							display: true,
							position: 'bottom',
							labels: {
								fontSize: 17,
								fontFamily: 'Roboto',
							}							
						},
						title: {
							display: true,
							text: {{charttitle}},
							fontSize: 19,
							fontFamily: 'Roboto',
							fontStyle: 'normal',
						}
					}
                });
            });
</script>

{% endautoescape %}
</div>


</div>



</div>
{% endblock %}

