:root {
  --grey1: #ddd;
  --grey2: #bbb;
  --grey3: #ddd;
  --grey4: #fff;
  --colorAccent1: #307E4A;
  --colorAccent2: #922429;
  --colorAccent3: #C98E1C;
  --colorAccent4: #5D5952;
  --colorAccent5: #513552;
  --colorHover: #FFB53F;
  --colorActive: red;
}
body, html {
  height: 100%;
}
h1, p {
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 28px;
	font-weight: 300;
}
p {
	font-size: 19px;
	font-weight: 200!important;
}

.nav-bar.left {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	height: 100%;
	width: 120px;
	background: var(--grey1);
    background: -webkit-linear-gradient(var(--grey1), var(--grey2)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(var(--grey1), var(--grey2)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(var(--grey1), var(--grey2)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(var(--grey1), var(--grey2)); /* Standard syntax */
	background: transparent!important;
	text-align:center;
}
.nav-bar.left .nav-logo{
	width: 100%;
	height: 120px;
	text-align: center;
	margin: 0;
	padding-top: 10px;
	background: transparent!important;
}
.nav-bar.left .nav-logo img{
	width: 100px;
	margin-top: 2px;
	}
.nav-bar.left .nav-logo h1{
	font-size: 67px;
	font-weight: 100;
	color: #000;
	font-family: 'Roboto';
	cursor: default;
}
.nav-bar.left .nav-logo p{
	font-size: 37px;
    margin: -45px 0 0 0;
    color: #ff9900;
}
.nav-bar.left ul{
	padding: 0;
	margin: auto;
	position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
	}
.nav-bar.left a{
	text-decoration: none;
}
.nav-bar.left li.active{
	background-color: var(--colorActive)!important;
	background: #dda60d; /* Old browsers */
background: -moz-linear-gradient(-45deg, #dda60d 0%, #ff670f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #dda60d 0%,#ff670f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #dda60d 0%,#ff670f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	box-shadow: none;
	border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
	width: 132px;
	height: 120px;
	padding-top: 10px;
	box-shadow: 0px 0px 32px 10px rgba(0,0,0,0.18);
}

.nav-bar.left li.active img{
	height: 60px;
	margin: 5px auto;
}

.nav-bar.left li img{
	height: 40px;
	margin: 0 auto;

}
.nav-bar.left li p{
	width: 100%;
	text-align: center;
	margin: 0;
	color: white;
	font-weight: 100;
	font-size: 17px;
	word-break: break-all;
}
.nav-bar.left li{
	min-height: 100px;
	height: 100px;
	list-style: none;
	width: 120px;
	border: 0;
	padding-top: 15px;
	line-height: 30px;
	-webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;

	}


.nav-bar.left a:first-child li {
	background-color: var(--colorAccent1);background-color: transparent;
}
.nav-bar.left a:nth-child(2) li {
	background-color: var(--colorAccent2);background-color: transparent;
}

.nav-bar.left a:nth-child(3) li {
	background-color: var(--colorAccent3);background-color: transparent;
}
.nav-bar.left a:nth-child(4) li {
	background-color: var(--colorAccent4);background-color: transparent;
}
.nav-bar.left a:nth-child(5) li {
	background-color: var(--colorAccent5);background-color: transparent;
}
.nav-bar.left a:nth-child(1):hover li,
.nav-bar.left a:nth-child(2):hover li,
.nav-bar.left a:nth-child(3):hover li,
.nav-bar.left a:nth-child(4):hover li,
.nav-bar.left a:nth-child(5):hover li  {
	background-color: var(--colorHover);
		}
table input {
	border: 1px solid #ccc;
	background: transparent;
}
.logout{
	right: 0;
    position: absolute;
    width: auto;
    background-color: rgba(255,255,255,.4);
    text-align: right;
    text-decoration: none;
    color: black;
	margin-right: 10px;
}
.logout img{
	height: 15px;
    margin-right: 10px;
}


#overlay.overlay-hidden .loader{
   display:none!important;
}

#overlay  {
	position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.8);
    z-index:9999;
    width:100%;
    height:100%;
    display:block;
	transition: background 1s;
}
body .overlay-hidden{
	transition: all 1s ease-in-out!important;
   background:rgba(0,0,0,0.0)!important;
   width: 0!important;
}
.loader {
    border-top: 16px solid blue;
	border-right: 16px solid var(--colorAccent1);
	border-bottom: 16px solid var(--colorAccent2);
	border-left: 16px solid var(--colorAccent3);
    border-radius: 20%;
	font-size: 10px;
    width: 80px;
    color: #ddd;
    height: 80px;
    animation: spin 2s linear infinite;
	position:fixed;
	top: 30%;
	right: 50%;
	display:block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#small-devices{
	display: none;
}
@media screen and (max-width: 1100px) {
	#small-devices{
		display: block;
		position: absolute;
		top:0;
		bottom: 0;
		right: 0;
		left: 0;
		background: -webkit-linear-gradient(var(--grey1), var(--grey2)); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(var(--grey1), var(--grey2)); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(var(--grey1), var(--grey2)); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(var(--grey1), var(--grey2)); /* Standard syntax */
		text-align: center;
		z-index: 99;
	    font-size: 6vh;
	    padding-top: 48%;
	    z-index: 99;
	}
	#small-devices p{

	    font-size: 4vh;

	}
}
