:root {
  --grey1: #ddd;
  --grey2: #bbb;
  --grey3: #ddd;
  --grey4: #fff;
  --colorAccent1: #307E4A;
  --colorAccent2: #922429;
  --colorAccent3: #C98E1C;
  --colorAccent4: #5D5952;
  --colorAccent5: #513552;
  --colorHover: #FFB53F;
  --colorActive: #33ccff;
}
body, html {
  height: 100%;
}
h1, p {
	font-family: 'Catamaran', sans-serif;
}
.nav-bar.left {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	height: 100%;
	width: 120px;
	background: var(--grey1); 
    background: -webkit-linear-gradient(var(--grey1), var(--grey2)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(var(--grey1), var(--grey2)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(var(--grey1), var(--grey2)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(var(--grey1), var(--grey2)); /* Standard syntax */
}
.nav-bar.left .nav-logo{
	width: 100%;
	height: 120px;	
	text-align: center;
	margin: 0;
	padding-top: 10px
}
.nav-bar.left .nav-logo h1{
	font-size: 67px;
	font-weight: 100;
	color: #000;
	font-family: 'Barber';
	cursor: default;
}
.nav-bar.left .nav-logo p{
	font-size: 29px;
    margin: -40px 0 0 0;
    color: whitesmoke;
}
.nav-bar.left ul{	
	padding: 0;
	margin: 0;
	}
.nav-bar.left a{
	text-decoration: none;
}
.nav-bar.left li.active{
	background-color: var(--colorActive)!important; 
	box-shadow: none;

}

.nav-bar.left li.active img{
	height: 64px;
	margin: 25px 29px 10px 25px;
	
}
.nav-bar.left li.active p{
	visibility: hidden;
}
.nav-bar.left li img{
	height: 50px;
	margin: 20px 35px 10px 35px;
	
}
.nav-bar.left li p{
	width: 100%;
	text-align: center;
	margin: 0;
	color: white;
	font-weight: 200;
	font-size: 16px;
}
.nav-bar.left li{
	height: 120px;
	list-style: none;
	width: 100%;
	border: 0;
	line-height: 30px;
	-webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
	box-shadow: inset -7px 0 20px -7px rgba(0,0,0,0.6);
	}

.nav-bar.left a:first-child li {
	background-color: var(--colorAccent1);
}
.nav-bar.left a:nth-child(2) li {
	background-color: var(--colorAccent2);
}
.nav-bar.left a:nth-child(2) li img{
	height: 70px;
	margin: 10px 25px 0 25px;
}
.nav-bar.left a:nth-child(3) li {
	background-color: var(--colorAccent3);
}
.nav-bar.left a:nth-child(4) li {
	background-color: var(--colorAccent4);
}
.nav-bar.left a:nth-child(5) li {
	background-color: var(--colorAccent5);
}
.nav-bar.left a:nth-child(1):hover li,
.nav-bar.left a:nth-child(2):hover li,
.nav-bar.left a:nth-child(3):hover li,
.nav-bar.left a:nth-child(4):hover li,
.nav-bar.left a:nth-child(5):hover li  {
	background-color: var(--colorHover);
		}
table input {
	border: 1px solid #ccc;
	background: transparent;
}
.logout{
	bottom: 0;
    position: absolute;
    width: 100%;
    background-color: rgba(255,255,255,.4);
    text-align: center;
    text-decoration: none;
    color: black;
}
.logout img{
	height: 20px;
    margin-right: 5px;
}
}

#overlay.hidden{
   background:rgba(0,0,0,0.0);
   display:none;
}
#overlay.hidden .loader{
   display:none;
}
#overlay  {
	position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:block;
	transition: background 2s;
}
.loader {
    border-top: 16px solid blue;
	border-right: 16px solid var(--colorAccent1);
	border-bottom: 16px solid var(--colorAccent2);
	border-left: 16px solid var(--colorAccent3);
    border-radius: 20%;
	font-size: 9px;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
	position:fixed;
	top: 30%;
	right: 50%;
	display:block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}