.login-wrapper{
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(45deg, rgba(153,0,0,1) 0%, rgba(0,128,128,1) 100%);
	text-align: center;
	font-weight: 100;
}
.login-wrapper:before{
	content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url(/static/img/login/loginbackground-low.jpg);
    background-size: cover;
}
.login-wrapper img {
	top: 40vh;
    height: 20vh;
    position: absolute;
    left: 2vw;
    opacity: 1;
    transition: opacity 1.5s ease-out;
    cursor: pointer;
   }
   .login-wrapper img.form-hidden {
   opacity: 0;
}
.login-wrapper form.form-hidden{
	left: -40vw;
	}
.login-wrapper form {
	top: 40vh;
    height: 20vh;
    background: rgba(255,255,255,.7);
    width: 30vw;
    position: absolute;
    padding:  20px 0;
    left: -2vw;
	box-shadow: 0px 0px 45px black;
	display: block;
	border-radius: 5px;
	transition: left 1s ease-out;
	transition-delay: 1.5s;
}
.login-wrapper p{
	margin: 10px auto;
	width: 410px;
}

.login-wrapper p input,
.login-wrapper input[type='submit'] {
    background: rgba(255,255,255,.9);
    height: 30px;
	border: 0;
	width: 250px;
	display: inline-block;	
}
.login-wrapper input[type='submit'] {
    font-size: 18px;
    width: 100px;
    height: 35px;
}
.login-wrapper input[type='submit']:focus,
.login-wrapper  p input:focus {outline:0;}
.login-wrapper label {
	font-size: 18px;
	width: 150px;
	display: inline-block;
	text-align: left;
}
.login-wrapper form img{
	opacity:.4;
}
.login-wrapper h2{
	font-size: 50px;
}
.login-wrapper-info{
	position:absolute;
    background: rgba(255,255,255,.4);
	top: 5%;
	left: 30%;
	width: 40%;
    padding:  15px 0;
	box-shadow: 0px 0px 15px grey;

}