
@font-face {
    font-family: 'Roboto', sans-serif;

}
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	background: linear-gradient(to right, #bbb, #eee);
}
a,
a:link,
a:visited,
a:active,
a:hover{
    text-decoration: none!important;
}
.cookster {
	font-family: 'Roboto', sans-serif;
}
.fade.in{
	display: block;
	overflow-y: auto;
	background-color: rgba(0,0,0,.7);
}
.content {
	width: 100%;
	position: fixed;
	padding-left: 121px;
	font-family: 'Roboto', sans-serif!important;
	height: 100vh;
}
.content .bar {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 19px;
	font-weight: 200;
	display: flex;
	background-color: white;	
}
.content .bar .bar-item{
    flex-grow: 2;
    border-left: 1px solid #ddd;
    font-size: 19px;
    color: #707070;
    text-align: center;
	cursor: pointer;
}

.content .bar .bar-item:hover{
	background-color: #eee;
}
.content .bar .bar-item img{
    height: 17px;
	margin-right: 5px
}
.content .bar .bar-name{
	flex-grow:12;
	padding-left: 15px;

}
.content .bar .bar-logout{
	flex-grow:2;

}
.content .bar .bar-logout img{
	height: 20px;
	margin-left: 5px;
}
.results-container{
	width: 100%;
	height: 90%;
	padding-left: 20px;
	overflow-y: scroll;	
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    display: flex;
	font-family: 'Roboto', sans-serif;
	font-size: 19px;
	font-weight:200;
    flex-flow: column;
    height: auto;
    width: 100%;
	margin-bottom: 10px;
}

thead {
    flex: 0 0 auto;
    width: 100%;
}
tbody {
	
    width: 100%;
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
	
}
table tbody tr {
    width: 100%;
}
table thead th a {
    color: black;
	font-weight:200;
}
table thead th a:hover {
    color: orange;
	font-weight:400;
}
/*
table tbody tr {
	-webkit-animation-name: show; 
    -webkit-animation-duration: 2s; 
    animation-name: show;
    animation-duration: 2s;
	height: 40px;
	padding: auto;	
}*/
table tbody tr {
	height: 40px;
}
table tbody tr.odd {
	background-color: #eee;
}

table tbody td.categoryname{
	font-size: 20px;
	font-weight: 200;
	padding-left: 20px;
}
table tbody td.dishname,th.dishname{
	width: 30%;
}
table tbody tr{
	-webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 0.5s ease-out;
}
table tbody tr:hover{
	background-color: orange!important;
}
table tbody td.edit,th.edit{
	width: 3%;
	max-width: 70px;	
	text-transform: uppercase;
	text-align: center;
}
table tbody td.small,th.small{
	width: 3%;	
	text-transform: uppercase;
	text-align: center;
	color: #888;
}
table tbody td.status,th.status{
	width: 7%;	
	text-align: center;
}

table tbody td.small-status,th.small-status{
	width: 20px;	
	text-align: left;
	
}

table tbody td.size22,th.size22{
	width: 22%;
	
}
table tbody td.name, th.name, td.av, th.av {
	width: 46%;
}
table tbody img.gps-ico {
	height: 15px;
}
table tbody .av-ico{
	height: 10px;
	width: 10px;
	display: inline-block;
	
	border-radius: 10px;
	opacity: .2;

}
table tbody .notactive {
	text-transform: uppercase!important;
    font-size: 12px;
    font-weight: 500;
	max-width: 200px;
	text-align:center;
    color: brown;
}
table tbody .reset {
    color: steelblue;
}
table tbody .status .av-ico{
	margin: 0;
}
table tbody .av-ico.small{
	background-color: darkred;

}
table tbody .av-ico.medium{
	background-color: orange;
}
table tbody .av-ico.large{
	background-color: yellowgreen;

}
table tbody .av-ico.choosen{
	opacity: 1;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes show {
    from {background-color: #ccf2ff;}
    to {background-color: transparent;}
}

/* Standard syntax */
@keyframes show {
    from {background-color: #ccf2ff;}
    to {background-color: transparent;}
}
table form{
	padding: 0!important;
	margin: 0;
}

table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}


.form-control{
	font-size: 17px!important;
}
.has-warning .form-control-feedback {
	visibility: visible;
}
.form-control-feedback {
	visibility: hidden;
}
.login-wrapper{
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(45deg, rgba(153,0,0,1) 0%, rgba(0,128,128,1) 100%);
	text-align: center;

}
.login-wrapper:before{
	content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url(/static/img/login-background.png);
    filter: blur(2px);
    opacity: .6;
	background-position: bottom;
}
.login-wrapper form {
	top: 20%;
    background: rgba(255,255,255,.4);
    width: 40%;
    position: absolute;
    padding:  20px 0;
    left: 30%;
	box-shadow: 0px 0px 45px black;
	border-radius: 5px;
}
.login-wrapper p input,
.login-wrapper input[type='submit'] {
    background: rgba(255,255,255,.9);
	border: 0;
	
}
.login-wrapper input[type='submit'] {
    font-size: 18px;
    width: 100px;
    height: 35px;
}
.login-wrapper input[type='submit']:focus,
.login-wrapper  p input:focus {outline:0;}
.login-wrapper label {
	font-size: 18px;
	width: 150px;
}
.login-wrapper form img{
	opacity:.4;
}
.login-wrapper-info{
	position:absolute;
    background: rgba(255,255,255,.4);
	top: 5%;
	left: 30%;
	width: 40%;
    padding:  15px 0;
	box-shadow: 0px 0px 15px grey;

}
.errorlist{
	background: rgba(255,0,0,.1);
}
.submit-icon,
.remove-icon{
	height: 20px;
}
.results-container .submit-icon.not-active,
.results-container .remove-icon.not-active{
	opacity: .3;
}
.results-container .submit-icon.not-ready,
.results-container .remove-icon.not-ready{
	opacity: 0;
}
.form-control.not-active{
	border: 0;
	background-color: transparent!important;
	cursor: pointer;
	box-shadow: none;
}
.float-button{
	margin: 20px;
	width: 35px;
	height:35px;
	float: right;
	background-image: url('../img/add-icon.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 35px;
	position: absolute;
    bottom: 0;
    right: 0;
}
.float-button.add{
	background-image: url('../img/add-icon.png');
	}
.float-button.accept{
	background-image: url('../img/accept-icon.png');
	margin-right: 0;
	}
	
	
/*PRODUKTY*/

.radio-av {
    display: none;
}

.radio-av + label {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 100%;
    display: inline-block;
    position: relative;
    width: 64px;
	margin: 0 8% 0 0;
    height: 24px;
}


.radio-av:first-of-type + label {
    background-color: #ffd6cc;
}

.radio-av:first-of-type:checked + label {
    background: #cc0000;
}
.radio-av:nth-of-type(2) + label {
    background-color: #ffeb99;
}
.radio-av:nth-of-type(2):checked + label {
    background: #ffcc00;
 }
.radio-av:nth-of-type(3) + label {
    background-color: #adebad;
}

.radio-av:nth-of-type(3):checked + label {
    background: #2eb82e;
}
table tbody tr td{
	padding: 0;
	margin: 0;
	
}
table tbody tr .product-form .form-group:nth-of-type(2){
	width: 30%;
	margin-top: -12px;
}
table tbody tr .product-form .form-group:nth-of-type(3){
	width: 55%;
	
}
table tbody tr .product-form .form-group:nth-of-type(4){
	width: 5%;
}
.product-form .remove-icon{
	height: 20px;
}
.product-form {
	/*font-size: 55px;*/
}

/*KATEGORIE*/


.category-container thead tr, .category-container table tbody td.id, .category-container table tbody th.id{
	display:none;
}

{
	
}
.table-container{
	width: 100%;
}


.dish-container{
	width: 98%;
	margin: 1%;
	height: 90%;
	padding: 0 20px;
	overflow-y: scroll;	
}
#id_products{
	height: 300px;

    padding: 0 30px 0 20px;	
}
.dish-form label {
	width: 130px;
	border-right: 1px solid #ddd;
	margin-right: 15px;
	height: 30px;
	font-weight: 100;
	line-height: 30px;
}

.dish-form p{
	border-bottom: 1px solid #ddd;
	width: 100%;
	padding-bottom: 15px;
	padding-top: 15px;
}
.dish-form input,
.dish-form select {
	width: 350px;
    height: 30px;
    padding-left: 15px;
    border: 0;
    background-color: #eee;
    outline: none;
}

#id_products option:checked{
	background: #aaa linear-gradient(0deg, #888 0%, #aaa 100%);
	border: 1px solid #ccc;
	
}

#id_products option{
	margin: 10px 0;
	display: block;
	text-align:center;
	background: #ddd;
	border-radius: 7px;
	padding:5px 0;
	width: 300px;
}

.category-container .form-group:first-of-type{
	width: 50px!important;
}
.category-container .form-group{
	width: 200px!important;
}

/* Standard syntax */
@keyframes move {
    from {margin: 0;}
    to {margin: 0 80px;}
}
@keyframes move2 {
    from {margin: 0;}
    to {margin: 0 80px;}
}
.container--right,
.container--left{
	text-align:center!important;
	height: 100vh!important;
}
.container--left{
	border-right: 1px solid #ddd;
}
.administration-container .box {
	min-height: 50px;	
	font-size: 20px;
	color: #fff;
	padding: 5px 0;
	height: auto;
}
.administration-container{
	text-align: center;
}
.administration-container h3{
	font-size: 22px;
	color: #000;
	width: 100%;
	margin: 25px 0;
    display: inline-block;
}
.administration-container .col-sm-4 img {
	height: 80px;
	margin: 5px auto;
	display: block;
}
.administration-container .col-sm-4:nth-of-type(1){
	background-color: var(--colorAccent1);
}
.administration-container .col-sm-4:nth-of-type(2){
	background-color: var(--colorAccent2);
}
.administration-container .col-sm-4:nth-of-type(3){
	background-color: var(--colorAccent3);
}
.administration-container .col-sm-4:nth-of-type(4){
	background-color: var(--colorAccent5);
}
.administration-container .col-sm-4:nth-of-type(4){
	background-color: var(--colorAccent5);
}
.administration-container .color{
	width: 20%;
	display:inline;
	height: 35px;
	float: left;
}
.administration-container .changeColor{
	opacity: .6;
	margin: 5px 0;
	height: 35px;
}
.administration-container .changeColor:hover{
	opacity: 1;

}
.administration-container .col-sm-12.admin-box{
	background: #444;
	color: #fff;
	font-size: 19px;
}
.administration-container .col-sm-12 img{
	margin-right: 15%;
}
.administration-container .admin-desc{
	opacity: 0;
	display: inline;
	font-size: 14px;
	position: absolute;
    top: 85px;
	right: -50px;
	width: 50%;
}
.administration-container .col-sm-12:hover{
	background-color: #555;
	transition: background-color 1s ease-in-out;

}
.administration-container .col-sm-12:hover .admin-desc{
	opacity: 1;
	right: 50px;
	transition: right 1s ease-in-out;
}
.administration-container .palette1 .color:nth-child(1){
	background: #307E4A;
}
.administration-container .palette1 .color:nth-child(2){
	background: #922429;
}
.administration-container .palette1 .color:nth-child(3){
	background: #C98E1C;
}
.administration-container .palette1 .color:nth-child(4){
	background: #5D5952;
}
.administration-container .palette1 .color:nth-child(5){
	background: #513552;
}
.administration-container .palette2 .color:nth-child(1){
	background: #FF3826;
}
.administration-container .palette2 .color:nth-child(2){
	background: #B5271B;
}
.administration-container .palette2 .color:nth-child(3){
	background: #00AEE8;
}
.administration-container .palette2 .color:nth-child(4){
	background: #C1C1C1;
}
.administration-container .palette2 .color:nth-child(5){
	background: #3A3535;
}
.administration-container .palette3 .color:nth-child(1){
	background: #5BC0EB;
}
.administration-container .palette3 .color:nth-child(2){
	background: #FDE74C;
}
.administration-container .palette3 .color:nth-child(3){
	background: #9BC53D;
}
.administration-container .palette3 .color:nth-child(4){
	background: #E55934;
}
.administration-container .palette3 .color:nth-child(5){
	background: #FA7921;
}
.administration-container .palette4 .color:nth-child(1){
	background: #011627;
}
.administration-container .palette4 .color:nth-child(2){
	background: #9BC53D;
}
.administration-container .palette4 .color:nth-child(3){
	background: #2EC4B6;
}
.administration-container .palette4 .color:nth-child(4){
	background: #E71D36;
}
.administration-container .palette4 .color:nth-child(5){
	background: #FF9F1C;
}
.col-sm-6.raport{
	color: #000;
}
.col-sm-6.raport:nth-of-type(4){
	border-right: 1px solid #ccc;
}
.col-sm-12:hover{
	background-color: white;
}

/*modal*/
.modal{
	font-family: 'Roboto'!important;
}
.modal-body{
	text-align: center;
	padding: 20px 0px!important;
	
}
.modal-body button {
	margin-top: 40px;
}
.modal-dialog {
	margin-top: 120px!important;
	z-index: 1000;
}
.modal-body p input,
.modal-body p select{
	width: 300px;
    height: 30px;
    padding-left: 15px;
    border: 0;
    background-color: #eee;
	outline: none;
}
.modal-body p label{
    width: 150px;
    color: #aaa;
    text-align: left;
	font-weight: 200;
}
.modal-footer{
	padding: 0!important;
	display:flex;
}
.modal-footer button{
	flex-grow: 1;
	flex-basis: 0;
	height: 45px;
	border: 0;
	margin: 0!important;
	border-radius: 0;
	background-color:#eee;
}
.modal-footer button:focus{
	outline: none;
}
.modal-footer button.save{
	background-color: #228B22;
	color: #fff;
}
.modal-title{
	color: #aaa;
    font-weight: 200;
    font-size: 19px;
}
.modal-title img{
	height: 30px;
	margin-right: 10px;
}
form{
	margin: 0;
	font-size: 16px;
}
@media screen and (max-width: 1300px) {
.orders-container .block img{
	height: 200px;
}
.category-container .category h2 {
    font-size: 38px;
}

}
table tbody tr.odd {
	background-color: #eee;
}