
@font-face {
    font-family: 'Roboto', sans-serif;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

	font-size: 2vh;
	background: linear-gradient(to right, #bbb, #eee);
}
a,
a:link,
a:visited,
a:active,
a:hover{
    text-decoration: none!important;
}
.cookster {
	font-family: 'Roboto', sans-serif;
}
.fade.in{
	display: block;
	overflow-y: auto;
	background-color: rgba(0,0,0,.7);
}
.content {
	width: 100%;
	position: fixed;
	padding-left: 121px;
	font-family: 'Roboto', sans-serif!important;
	height: 100vh;
}
.content .bar {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-weight: 200;
	display: flex;
	background-color: white;	
}
.content .bar .bar-item{
    flex-grow: 2;
    border-left: 1px solid #ddd;
    color: #707070;
    text-align: center;
	cursor: pointer;
	transition: background-color 0.5s ease-in-out;
}

.content .bar .bar-item:hover{
	background-color: #eee;
}
.content .bar .bar-item img{
    height: 17px;
	margin-right: 5px
}
.content .bar .bar-name{
	flex-grow:12;
	padding-left: 15px;
}
.content .bar .bar-logout{
	flex-grow:2;

}
.content .bar .bar-logout img{
	height: 20px;
	margin-left: 5px;
}
.results-container{
	width: 100%;
	height: 95%;
	padding-left: 20px;
	overflow-y: auto;	
}
.pagination {
	display: table!important;
	margin: 20px auto 0!important;
}
.pagination>li>a {
	font-weight: 100!important;
	border: 0!important;
	background-color: transparent!important;
	color: #000!important;
}
.pagination>li.active>a {
	border: 0!important;
	background-color: var(--colorHover)!important;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    display: flex;
	font-family: 'Roboto', sans-serif;
	font-size: 2vh;
	font-weight:200;
    flex-flow: column;
    height: auto;
    width: 100%;
	margin-bottom: 10px;
}

thead {
    flex: 0 0 auto;
    width: 100%;
}
tbody {
	
    width: 100%;
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
	color:#000;
}

table thead th a {
    color: black;
	font-weight:200;
}
table thead th a:hover {
    color: var(--colorHover);
	font-weight:400;
	transition: all 0.5s ease-in-out;
}

table tbody tr {
	height: 2vw;
    width: 100%;
}


table tbody tr.odd {
	background-color: #eee;
}

table tbody td.categoryname{
	font-size: 1.2vw;
	font-weight: 400;
	padding-left: 20px;
}
table tbody td.dishname,th.dishname{
	width: 30%;
}
table tbody td.dishname{
	font-weight: 300;
}

table tbody tr:hover{
	background-color: var(--colorHover)!important;
	transition: color 0.5s ease-in-out;
}
table tbody td.edit {
	cursor: pointer;
}
table tbody td.edit,th.edit{
	width: 3%;
	text-align: center;
}
table tbody td.small,th.small{
	width: 3%;	
	text-transform: uppercase;
	text-align: center;
	color: #888;
}
table tbody td.status,th.status{
	width: 7%;	
	text-align: center;
}

table tbody td.small-status,th.small-status{
	width: 3%;	
	text-align: center;	
}
table tbody td.phone,th.phone{
	width: 10%;	
}
img.avatar{
	height: 1.7vw;
	width: auto;
	border-radius: 1.5vh;
}
.modal-body .avatar {
	height: 19vh;
    border-radius: 3.5vh;
    margin-bottom: 1.7vh;
}
img.avatar.small{
	border: 1px solid darkred;
}
img.avatar.medium{
	border: 2px solid orange;
}
img.avatar.large{
	border: 2px solid yellowgreen;
}
table tbody td.size22,th.size22{
	width: 22%;
	
}
table tbody td.name, th.name, td.av, th.av {
	width: 46%;
}
table tbody img.gps-ico {
	height: 15px;
}
table tbody .av-ico{
	height: 10px;
	width: 10px;
	display: inline-block;
	
	border-radius: 10px;
	opacity: .2;

}
table tbody .notactive {
	text-transform: uppercase!important;
    font-size: 12px;
    font-weight: 500;
	max-width: 200px;
	text-align:center;
    color: brown;
}
table tbody .reset {
    color: steelblue;
}
table tbody .status .av-ico{
	margin: 0;
}
table tbody .av-ico.small{
	background-color: darkred;

}
table tbody .av-ico.medium{
	background-color: var(--colorHover);
}
table tbody .av-ico.large{
	background-color: yellowgreen;

}
table tbody .av-ico.choosen{
	opacity: 1;
}

table form{
	padding: 0!important;
	margin: 0;
}

table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}


.form-control{
	font-size: 17px!important;
}
.has-warning .form-control-feedback {
	visibility: visible;
}
.form-control-feedback {
	visibility: hidden;
}

.errorlist{
	background: rgba(255,0,0,.1);
}
.submit-icon,
.remove-icon{
	height: 20px;
}
.results-container .submit-icon.not-active,
.results-container .remove-icon.not-active{
	opacity: .3;
}
.results-container .submit-icon.not-ready,
.results-container .remove-icon.not-ready{
	opacity: 0;
}
.form-control.not-active{
	border: 0;
	background-color: transparent!important;
	cursor: pointer;
	box-shadow: none;
}
.float-button{
	margin: 20px;
	width: 35px;
	height:35px;
	float: right;
	background-image: url('../img/add-icon.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 35px;
	position: absolute;
    bottom: 0;
    right: 0;
}
.float-button.add{
	background-image: url('../img/add-icon.png');
	}
.float-button.accept{
	background-image: url('../img/accept-icon.png');
	margin-right: 0;
	}
	
	
/*PRODUKTY*/

.radio-av {
    display: none;
}

.radio-av + label {
    -webkit-appearance: none;
    border: 1px solid white;
    width: 100%;
    display: inline-block;
    position: relative;
    width: 64px;
	margin: 0 8% 0 0;
    height: 24px;
}


.radio-av:first-of-type + label {
    background-color: #ffd6cc;
}

.radio-av:first-of-type:checked + label {
    background: #cc0000;
}
.radio-av:nth-of-type(2) + label {
    background-color: #ffeb99;
}
.radio-av:nth-of-type(2):checked + label {
    background: #ffcc00;
 }
.radio-av:nth-of-type(3) + label {
    background-color: #adebad;
}

.radio-av:nth-of-type(3):checked + label {
    background: #2eb82e;
}
table img {
	height: 2vh;
	width: 2vh;
}
table tbody tr td{
	padding: 0;
	margin: 0;
	
}
table tbody tr .product-form .form-group:nth-of-type(2){
	width: 30%;
	margin-top: -12px;
}
table tbody tr .product-form .form-group:nth-of-type(3){
	width: 55%;
	
}
table tbody tr .product-form .form-group:nth-of-type(4){
	width: 5%;
}
.product-form .remove-icon{
	height: 20px;
}
.product-form {
	/*font-size: 55px;*/
}

/*KATEGORIE*/


.category-container thead tr, .category-container table tbody td.id, .category-container table tbody th.id{
	display:none;
}

{
	
}
.table-container{
	width: 100%;
}



.category-container .form-group:first-of-type{
	width: 50px!important;
}
.category-container .form-group{
	width: 200px!important;
}

/* Standard syntax */
@keyframes move {
    from {margin: 0;}
    to {margin: 0 80px;}
}
@keyframes move2 {
    from {margin: 0;}
    to {margin: 0 80px;}
}

/*modal*/
.modal{
	font-family: 'Roboto'!important;
}
.modal-body{
	text-align: center;
	padding: 20px 0px!important;
	
}
.modal-body button {
	margin-top: 40px;
	font-size: 2vh;
}
.modal-dialog {
	margin-top: 120px!important;
	z-index: 1000;
}
.modal-body p input,
.modal-body p select{
	width: 50%;
    height: 30px;
    padding-left: 15px;
    border: 0;
    background-color: #eee;
	outline: none;
}
.modal-body p label{
    width: 25%;
    text-align: left;
	font-weight: 200;
}
.modal-footer{
	padding: 0!important;
	display:flex;
}
.modal-footer button{
	flex-grow: 1;
	flex-basis: 0;

	font-size: 2vh;
	font-weight: 
	height: 45px;
	border: 0;
	margin: 0!important;
	border-radius: 0;
	background-color:#eee;
	outline: none;
}
.modal-footer button:focus{
	outline: none;
}
.modal-footer button.save{
	background-color: #228B22;
	color: #fff;
}
.modal-footer button.save-button-post{
    background: green linear-gradient(0deg, #739900 0%, #bfff00 100%);
    color: #fff;
   }
.modal-title{
	color: #aaa;
    font-weight: 200;
    font-size: 2.5vh;
}
.modal-title img{
	height: 30px;
	margin-right: 10px;
}
form{
	margin: 0;
	font-size: 2vh;
}
#id_products option:checked{
	background: #aaa linear-gradient(0deg, #888 0%, #aaa 100%);
	border: 1px solid #ccc;
	
}

#id_products option{
	margin: 10px 0;
	display: block;
	text-align:center;
	background: #ddd;
	border-radius: 7px;
	padding:5px 0;
	width: 300px;
}
.trans-form.update-form label{
	border-top: 1px solid #ddd;
	display: block;
}
.trans-form.update-form p label{
	border: 0;
	display: inline-block;
	width: 28%;
}
.trans-form.update-form button{
	margin: 0;
	width: 8%;
	background:none;
	display: inline-block;
}
.trans-form.update-form img{
	height: 25px;
}
.trans-form.update-form p{
	width: 90%;
	display: inline-block;
}
@media screen and (max-width: 1300px) {
.orders-container .block img{
	height: 200px;
}
.category-container .category h2 {
    font-size: 38px;
}

}
table tbody tr.odd {
	background-color: #eee;
}