{% load i18n %}
{% load staticfiles %}

<html>
<head>
<title>Cookster - A.F.</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Catamaran&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<style>
:root {
  --colorAccent1: #307E4A;
  --colorAccent2: #922429;
  --colorAccent3: #C98E1C;
  --colorAccent4: #5D5952;
  --colorAccent5: #513552;
  --colorHover: #FFB53F;
  --colorActive: #ff9900;
}
</style>

</head>
<body>
<div class = "nav-bar left">
<div class = "nav-logo">
<img src="{% static 'img/cookster-logo.png' %}">
</div> 
	<ul>
		<a href="{% url 'menu' %}"><li><img src="{% static 'img/menu-icon.png' %}"><p>{% blocktrans %}Dania{% endblocktrans %}</p></li></a>
		<a href="{% url 'employers' %}"><li><img src="{% static 'img/workers-icon.png' %}"><p>{% blocktrans %} Pracownicy{% endblocktrans %}</p></li></a>
		<a href="{% url 'products' %}"><li><img src="{% static 'img/products-icon.png' %}"><p>{% blocktrans %}Produkty{% endblocktrans %}</p></li></a>
		<a href="{% url 'administration' %}"><li><img src="{% static 'img/administration-icon.png' %}"><p>{% blocktrans %}Administracja{% endblocktrans %}</p></li></a>
		<a href="{% url 'orders' %}"><li><img src="{% static 'img/orders-icon.png' %}"><p>{% blocktrans %}Zamówienia{% endblocktrans %}</p></li></a>
		
	</ul>
	
</div>
<div class = "content">
<div class="bar">
	<div class="bar-name">
		U Klaudii restaurant - Klaudia Ferchichi
	</div>
	<div class="bar-add" data-toggle="modal" data-target="#cookmodal">+
	</div>
	<a href="/logout" class="bar-logout">
		<p>{% blocktrans %}Wyloguj sie{% endblocktrans %}  <img src="{% static 'img/logout-icon.png' %}"></p>
	</a>
</div>
<div id = "overlay">
	<div class="loader">COOKSTER</div>
</div>

{% block content %}

{% endblock %}

</div>
 {% if form %}
 <div class="modal fade" id="cookmodal" role="dialog">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ formText }}</h4>
        </div>
		<form method="POST">{% csrf_token %}
        <div class="modal-body">
                  
        {{ form.as_p }}
        
   
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default">{% blocktrans %}Zapisz{% endblocktrans %}</button>
		  <button type="button" class="btn btn-default" data-dismiss="modal">{% blocktrans %}Back{% endblocktrans %}</button>
        </div>
		 </form>
      </div>
      
    </div>
  </div>
 {% endif %}
  {% if update_forms %}
{% for  id, form in update_forms.items  %} 
 <div class="modal fade modal{{id}}" role="dialog">
    <div class="modal-dialog">
		<div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close modal-close" id = "{{id}}" >&times;</button>
          <h4 class="modal-title">{% blocktrans %}Zamówienie{% endblocktrans %}{{ id }}</h4>
        </div>
	<form method="PUT" data-target="{{data_target}}" class="update-form" id = "{{ id }}">
        <div class="modal-body">
         
		{{form.as_p}}
		<button type="submit" class="btn btn-default">{% blocktrans %}Zaktualizuj{% endblocktrans %}</button>
  
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default modal-close" id = {{id}}>{% blocktrans %}Wróć{% endblocktrans %}</button>
		  <button type="button" data-target="{{data_target}}" class="btn btn-default button-remove" id = {{id}}>{% blocktrans %}Usuń{% endblocktrans %}</button>
        </div>
	 </form>
      </div>
      
    </div>
  </div>
    

{% endfor %}
 {% endif %}
<script src="{% static 'js/main.js' %}"></script>
<script> 
(function(){
	
})(jQuery);
</script>
</body>
<script> 
(function() {
    $("#overlay").toggleClass('hidden');
})(jQuery)
</script>
</html>