{% load staticfiles %}
<html>
<head>
<title>LIMO - Administracja</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Catamaran&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<style>
:root {
  --colorAccent1: #307E4A;
  --colorAccent2: #922429;
  --colorAccent3: #C98E1C;
  --colorAccent4: #5D5952;
  --colorAccent5: #513552;
  --colorHover: #FFB53F;
  --colorActive: #ff9900;
}
</style>

</head>
<body>
<div class = "nav-bar left">
<div class = "nav-logo">
<h1>cookster</h1>
<p> CRM SYSTEM </p>
</div> 
	<ul>
		<a href="{% url 'menu' %}"><li><img src="{% static 'img/menu-icon.png' %}"><p>Dania</p></li></a>
		<a href="{% url 'employers' %}"><li><img src="{% static 'img/workers-icon.png' %}"><p>Pracownicy</p></li></a>
		<a href="{% url 'products' %}"><li><img src="{% static 'img/products-icon.png' %}"><p>Produkty</p></li></a>
		<a href="{% url 'administration' %}"><li><img src="{% static 'img/administration-icon.png' %}"><p>Administracja</p></li></a>
		<a href="{% url 'orders' %}"><li><img src="{% static 'img/orders-icon.png' %}"><p>Zamówienia</p></li></a>
		<!--<a href="/logout"><li><img src="{% static 'img/orders-icon.png' %}"><p>Wyloguj się</p></li></a>-->
	</ul>
</div>
<div class = "content">
<div class = "overlay">
	<div class="loader">COOKSTER</div>
</div>
<script>
(function() {
        $(".overlay").css('display', 'block');
        $(".loader").css('display', 'block');
	})(jQuery)
</script>
{% block content %}

{% endblock %}

</div>
 {% if form %}
 <div class="modal fade" id="cookmodal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ formText }}</h4>
        </div>
		<form method="POST">{% csrf_token %}
        <div class="modal-body">
                  
        {{ form.as_p }}
        
   
        </div>
        <div class="modal-footer">
          <button type="submit" class="save btn btn-default">Zapisz</button>
		  <button type="button" class="btn btn-default" data-dismiss="modal">Wróć</button>
        </div>
		 </form>
      </div>
      
    </div>
  </div>
 {% endif %}
<script src="{% static 'js/main.js' %}"></script>
<script> 
(function(){
	
})(jQuery);
</script>
</body>
<script> 
(function() {
    $(".overlay").css('display', 'none');
     $(".loader").css('display', 'none');
})(jQuery)
</script>
</html>