{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block content %}
{% load staticfiles %}
<script>
(function($){
	$('.nav-bar.left a:nth-child(2) li').addClass('active');
   })(jQuery); 
</script>
  <span id="employers-flag" style="display: none;" ></span>  
<div class="results-container">

 <br>
 
 
 
	
 
 
 
 
 
 
  <div id="myHighChart" width="500" height="400"></div>
 
 
 
 
 
<canvas id="myChart" width="500" height="400"></canvas>

        <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            $.get('{% url "line_chart_json" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line', data: data
                });
            });
        </script>
	

	  

  <script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
  <script type="text/javascript">
      $.get('{% url 'line_chart_json2' %}', function (data) {
          data["chart"] = {type: "spline"};
          $("#myHighChart").highcharts(data);
      });
  </script>		

</div>
{% endblock %}

