{% extends 'base.html' %}
{% block content %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
<script>
(function($){
	$('.nav-bar.left a:nth-child(1) li').addClass('active');
   })(jQuery); 
</script>
{% csrf_token %}
<span  style="display: none;" ></span>
<div class="results-container category-container">
<h1>Kategorie potraw</h1>
<p>Edytuj swoje kategorie, dodawaj nowe, oraz sprawdź jakie dania do nich należą.</p>
  

{% for  category, table in categoryList.items %}
{%render_table category%}
{% if table %}
{% render_table table %}
{% endif %}

{%endfor%}
</div>
{% endblock %}