{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load staticfiles %}
<script>
(function($){
	$('.nav-bar.left a:nth-child(1) li').addClass('active');
   })(jQuery); 
</script>
{% csrf_token %}
<span id="dish-flag" style="display: none;" ></span>  
<div class="dish-container">
 <h1>{% blocktrans %}Edycja dania{% endblocktrans %}</h1>
 {% if dish %}
  <form class="dish-form" alt="Użyj przycisku CTRL" method="POST">{% csrf_token %}
        {{ dish.as_p }}
		{% if dishId %}
		<input type="text" class="hidden" name = "id" value = "{{dishId}}" >
		{% endif %}
        <button type="submit" class="save btn btn-default">{% blocktrans %} zapisz {% endblocktrans %}</button>
    </form>
{% endif %}





</div>
{% endblock %}