{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/dish.css' %}">
  <script>
(function($){
  $('.nav-bar.left a:nth-child(1) li').addClass('active');
   })(jQuery); 
</script>
{% csrf_token %}

  <span id="dish-flag" style="display: none;" ></span>
  <div class="dish-container">
    <h1>{% trans "dish-title"%}</h1>
    <p>{% trans "dish-desc"%}</p>
    <div class="dish-half">
 {% if dish %}
  
      <form class="dish-form" method="POST">{% csrf_token %}
        <button type="submit" class="save btn btn-default">{% trans "save"%}</button>
        {{ dish.as_p }}
    {% if dishId %}
    
        <input type="text" class="hidden" name = "id" value = "{{dishId}}" >
        
    {% endif %}    
    </form>    
{% endif %}


        <p style="line-height: 40px; margin: 0;">{% trans "products"%}</p>

{% if dishforms %}
{% for  dishform in dishforms  %}
         <form method="PUT" data-target="{{data_target}}" class="dishproduct-form update-form dish-form" id = "t{{ dishform.id }}">  
{{dishform.form.as_p}}
          <button type="submit" class="btn" id = "{{ dishform.id }}" disabled="disabled">
            <img src="{% static 'img/accept-icon.png' %}">
            </button>
          </form>
{% endfor %}
{% endif %}


{% if dishform %}
{% for i in "xxxxx" %} 
          <form method="POST" data-target="{{data_target}}" class="dishproduct-form update-form dish-form invisible">
{{ dishform.as_p }}
            <button type="submit" class="btn" disabled="disabled">
              <img src="{% static 'img/accept-icon.png' %}">
              </button>
            </form>
{% endfor %}
{% endif %}
<button class="add-btn" >
                    <img src="{% static 'img/add-icon.png' %}">
                  </button>
          </div>
          <div class="dish-half">

{% if transforms %}
{% for  transForm in transforms  %}
             <form method="PUT" data-target="{{transForm.data_target}}" class="trans-form update-form dish-form" id = "t{{ transForm.id }}">
              <p><span>{{transForm.lang}}</span> <button type="submit" class="btn" id = "{{ transForm.id }}" disabled="disabled">
                    <img src="{% static 'img/accept-icon.png' %}">
                  </button>
                 </p>
{{transForm.form.as_p}}


              </form>
{% endfor %}
{% endif %}


            </div>
          </div>

<script src="{% static 'js/dish.js' %}"></script>
{% endblock %}