{% load staticfiles %}
{% load i18n %}
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class = "login-wrapper">
<img src="{% static 'img/login/login-logo.png' %}" class="logo-img">
<form method="post" class="form-hidden">
	<!--<h2 class="cookster"> CookSter </h2> -->
{% csrf_token %}
    {{ form.as_p }}
<br>
<div>	
	
  <input type="submit" value='{% trans "log-in"%}' />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
{% if form.errors %}
<div class="login-wrapper-info"> 

<p>{% trans "invalid-data"%}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>{% trans "no-access"%}</p>
    {% else %}
    <p>{% trans "log-in"%}</p>
    {% endif %}

</div>
{% endif %}

</div>
</body>
<script src="{% static 'js/login.js' %}"></script>
</html>