{% load staticfiles %}
{% load i18n %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class = "login-wrapper">

<form method="post">
<h1 class="cookster" style="margin-bottom: 40px;font-size: 96px;"> CookSter </h1>
{% csrf_token %}
    {{ form.as_p }}
<br>
<div>	
	
  <input type="submit" value='{% trans "log-in"%}' />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
{% if form.errors %}
<div class="login-wrapper-info"> 

<p>{% trans "invalid-data"%}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>{% trans "no-access"%}</p>
    {% else %}
    <p>{% trans "log-in"%}</p>
    {% endif %}

</div>
{% endif %}

</div>
</body>
</html>