{% extends 'base.html' %}
{% load i18n %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/orders.css' %}">
<script>
(function($){
	$('.nav-bar.left a:nth-child(5) li').addClass('active');
   })(jQuery); 
</script>
{% csrf_token %}
<script> 

	function allowDrop(ev) {
		ev.preventDefault();
	}

	function drag(ev) {
		ev.dataTransfer.setData("text", ev.target.id);
	}

	function drop(ev) {
		ev.preventDefault();
		var text = ev.dataTransfer.getData("text");
		var data = new Object();
		
		data.state = ev.target.id.slice(-1);
		var id = text.slice(0,text.indexOf('.'));
		data.id = id;
		data = JSON.stringify(data);
		
            $.ajax({
                url: 'http://cookster-cookster.193b.starter-ca-central-1.openshiftapps.com/api/waitertasks/' + id+'/',
                    type: 'PUT',
                    contentType: 'application/json',
                    data: data,
                    dataType: 'json',
                    processData: false,
                });
		ev.target.appendChild(document.getElementById(text));
	}

</script>
<span id="orders-waiter-flag" style="display: none;"></span>  
<div class="orders-container">
<h2> {% trans "orders"%} </h2>
{% if tasks %}
<h3> Założone </h3><h3> Gotowe </h3><h3> Zrealizowane</h3>
<div class = "col-md-4">
<div id="stage--step0" class="stage" ondrop="drop(event)" ondragover="allowDrop(event)">
	{%for task in tasks%}
	<div class="col-md-6 orderdrag" id = "{{task.id}}.{{task.state}}" draggable="true" ondragstart="drag(event)" >
	  <div class="order" id = {{task.id}} > 
		<p> {% trans "order"%} {{task.id}} </p>
		{% if task.table2 %}
		<p> {% trans "table"%}: {{task.table}} </p>
		{% endif %}
		<p> {% trans "date"%}: {{task.created_at}} </p>
		<p> {% trans "cook"%}: {{task.cook}}</p>
		
	  </div>
	</div>
	
	{%endfor%}
  </div>
</div>

<div class = "col-md-4">
<div id="stage--step1" class="stage" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
</div>

<div class = "col-md-4">
<div id="stage--step2" class="stage" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
</div>
{%for task in tasks%}
 <div class="modal fade ordermodal ordermodal{{task.id}}" id="" role="dialog">
    <div class="modal-dialog">
		      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close modal-close" id = {{task.id}}>&times;</button>
          <h4 class="modal-title">{% trans "order"%} {{ task.id }}</h4>
        </div>
	
        <div class="modal-body">
         {% if task.waiter|length %}
		<p><label> {% trans "waiter"%} </label> {{task.waiter}} </p>
		{% endif %}   
		{% if task.provider|length %}
		<p><label> {% trans "provider"%}: </label> {{task.provider}} </p>
		{% endif %}        
		<p><label> {% trans "cook"%} </label> {{task.cook}} </p>
		<p><label> {% trans "created-date"%} </label> {{task.created_at}} </p>
		<p><label> {% trans "updated-date"%} </label> {{task.updated_at}} </p>
		{% if task.table|length %}
		<p><label> {% trans "table"%} </label> {{task.table}} </p>
		{% endif %}		
		<p><label> {% trans "status"%} </label> {{task.state}} </p>
		{% if task.dishes|length %}
		<p><label> {% trans "dishes"%} </label></p><p class="dishesList"><pre>{{task.dishes}}</pre></p>
		{% endif %}	
		{% if task.products|length %}
		<p><label> {% trans "products"%} </label></p><p class="dishesList"><pre>{{task.products}}</pre></p>
		{% endif %}			
		{% if task.price_default|length %}
		<p><label> {% trans "price"%} </label> {{task.price_default}} </p>
		{% if task.price|length %}
		<p><label> {% trans "paid price"%}</label> {{task.price}} </p>
		{% endif %} {% endif %} 
		<p><label> {% trans "comment"%} </label>{{task.comment}} </p>
		        
   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default modal-close" id = {{task.id}}>{% trans "delete"%}</button>
		  <button type="button" class="btn btn-default button-remove" id = {{task.id}}>{% trans "back"%}</button>
        </div>
	
      </div>
      
    </div>
  </div>
 {%endfor%}
   {%endif%}
</div>

{% endblock %}