
{% extends 'base.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block content %}
{% load staticfiles %}

<script>
(function($){
	$('.nav-bar.left a:nth-child(3) li').addClass('active');
   })(jQuery); 
</script>
{% csrf_token %}
<span id="products-flag" style="display: none;" ></span>  
<div class="results-container">
<h1>{% trans "products-title"%}</h1>
<p>{% trans "products-desc"%}</p>
 <br>

	
{% if productsList %}
  
{% render_table productsList %}
   
{% endif %}
 </tbody>
  </table>





<div class = "float-button add-product" data-toggle="modal" data-target="#cookmodal"> </div>
</div>
{% endblock %}